Importing Required libraries

In [1]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df = pd.read_csv('vgsales.csv')
df.head(1)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74

EDA(Exploratory Data Analysis)

1) Checking the type and shape of dataset

In [4]:
df.dtypes

Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [6]:
df.shape

(16598, 11)

2) Cleaning/Removing/Dropping irrelevent columns/data

In [7]:
df = df.drop(columns=['Year','Genre'], axis = 1)

In [8]:
df.head(1)

,Rank,Name,Platform,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,Nintendo,41.49,29.02,3.77,8.46,82.74

3) Cleanig/Removing/Dropping duplicate values

In [9]:
df_duplicate = df[df.duplicated()]
print(df_duplicate)

Empty DataFrame
Columns: [Rank, Name, Platform, Publisher, NA_Sales, EU_Sales, JP_Sales, Other_Sales, Global_Sales]
Index: []

In [11]:
df.count()

Rank            16598
Name            16598
Platform        16598
Publisher       16540
NA_Sales        16598
EU_Sales        16598
JP_Sales        16598
Other_Sales     16598
Global_Sales    16598
dtype: int64

In [12]:
df = df.drop_duplicates()
df.count()

Rank            16598
Name            16598
Platform        16598
Publisher       16540
NA_Sales        16598
EU_Sales        16598
JP_Sales        16598
Other_Sales     16598
Global_Sales    16598
dtype: int64

4) Cleaning/Removing/Dropping null values

In [13]:
print(df.isnull().sum())

Rank             0
Name             0
Platform         0
Publisher       58
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
Global_Sales     0
dtype: int64

In [14]:
df.count()

Rank            16598
Name            16598
Platform        16598
Publisher       16540
NA_Sales        16598
EU_Sales        16598
JP_Sales        16598
Other_Sales     16598
Global_Sales    16598
dtype: int64

In [15]:
df = df.dropna()
df.count()

Rank            16540
Name            16540
Platform        16540
Publisher       16540
NA_Sales        16540
EU_Sales        16540
JP_Sales        16540
Other_Sales     16540
Global_Sales    16540
dtype: int64